# Unit 1 Python Fundamentals:

In [3]:
#my first program
print("namaste ckpcet")

namaste ckpcet

In [2]:
print("hello surat")

hello surat

In [4]:
#varaible and data types
a=33
a

33

In [7]:
var1 = 12 #int
var2 = 200.50 #float
var3 = "intel corporation" # string
var4 = True # boolean
print(var1)
print(var2)
print(var3)
print(var4)

12
200.5
intel corporation
True

In [9]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [10]:
a = 15
b = 14.33
c = "hello"
d = False
e = 4444444
f = 643535//5
g = "Hi"
h = True
i = "ABCDEFGHIJK"
j = "Hii you are great"
k = "true"
l = "false"
m = "TRUE"
n = 99**1
o = 38/19
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)
print(j)
print(k)
print(l)
print(m)
print(n)
print(o)

15
14.33
hello
False
4444444
128707
Hi
True
ABCDEFGHIJK
Hii you are great
true
false
TRUE
99
2.0

In [11]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))
print(type(k))
print(type(l))
print(type(m))
print(type(n))
print(type(o))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>

In [16]:
 #math operations on varaible
p=a+b
q=a-b
r=a*b
s=a/b
t=a**b
u=a//b
print(p)
print(q)
print(r)
print(s)
print(t)
print(u)

29.33
0.6699999999999999
214.95
1.0467550593161201
7.134897563263078e+16
1.0

## Input from user

In [18]:
# use input from keyboard
x = int(input("Enter the value of x: "))
y = int(input("Enter the value of y: "))

Enter the value of x: 5
Enter the value of y: 6

In [19]:
z=x+y
o=x*y
print(z)
print(o)

11
30

# String concatenation

In [24]:
s1="American"
s2="Eagle"
s3=s1+" "+s2
print(s3)

American Eagle

In [25]:
st1="Jash"
st2="Kabir"
st3="Mehta"
st=st1+ " "+st2+" "+st3
print(st)

Jash Kabir Mehta

In [29]:
print(st)
print(type(st))
print(len(st))

Jash Kabir Mehta
<class 'str'>
16

# string slicing

In [31]:
print(st)
st[0:5]

Jash Kabir Mehta

'Jash '

In [32]:
st[0:-1]

'Jash Kabir Meht'

In [33]:
st[-1]

'a'

In [34]:
st[11:17]

'Mehta'

# tuple

In [35]:
tup1 = ("parul",22,"jash",43.4,"surat")
print(tup1)
print(type(tup1))

('parul', 22, 'jash', 43.4, 'surat')
<class 'tuple'>

In [40]:
tup1[3]

43.4

In [41]:
tup1[2:4]

('jash', 43.4)

In [42]:
tup2=("python",45)
tup3=tup1+tup2
print(tup3)

('parul', 22, 'jash', 43.4, 'surat', 'python', 45)

In [43]:
##immutable 
del tup3[1]

TypeError: 'tuple' object doesn't support item deletion

# list

In [45]:
l1=["avd",344,"ododpod",30202]
print(type(l1))

<class 'list'>

In [48]:
len(l1)

4

In [49]:
l1.remove(344)

In [50]:
l1

['avd', 'ododpod', 30202]

## Dictionary

In [52]:
dict1={"university":"surat","age":40,"course":"python","language":"english"}
print(dict1)
print(type(dict1))
len(dict1)

{'university': 'surat', 'age': 40, 'course': 'python', 'language': 'english'}
<class 'dict'>

4

# installing libraries

In [ ]:
#!pip install<package name>
#!conda install<package> #for using anaconda

# Conditional statement

In [55]:
#if statement
num=5
if num > 0:
    print(num,"a positive number")
    print("its true")

5 a positive number
its true

In [57]:
#if else statement
num=-5
if num > 0:
    print(num,"a positive number")
else:
    print(num,"it is negative number")

-5 it is negative number